<?xml version="1.0"?>
<model>
  <name>vtol_gauthali_7</name>
  <version>1.0</version>
  <sdf version='1.6'>vtol_gauthali_7.sdf</sdf>

  <author>
   <name>Roman Bapst</name>
   <email>roman@px4.io</email>
  </author>

  <description>
    This is a model of a standard VTOL quad plane by Prokura Innovations.
  </description>
</model>
